In [1]:
import pandas as pd

#### Load the dataset

In [2]:
df = pd.read_csv('../datasets/source_data/FAOSTAT-Emissions/Emissions_Agriculture_Agriculture_total_E_All_Data.csv', encoding='latin-1')

In [3]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1961N,...,Y2016N,Y2017,Y2017F,Y2017N,Y2030,Y2030F,Y2030N,Y2050,Y2050F,Y2050N
0,2,Afghanistan,5058,Enteric Fermentation,7225,Emissions (CH4),gigagrams,240.6831,A,NaN,...,NaN,371.9253,A,NaN,453.7474,A,NaN,603.6185,A,NaN
1,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),gigagrams,5054.3459,A,NaN,...,NaN,7810.4313,A,NaN,9528.6962,A,NaN,12675.9880,A,NaN
2,2,Afghanistan,5058,Enteric Fermentation,7244,Emissions (CO2eq) from CH4,gigagrams,5054.3459,A,NaN,...,NaN,7810.4313,A,NaN,9528.6962,A,NaN,12675.9880,A,NaN
3,2,Afghanistan,5059,Manure Management,7225,Emissions (CH4),gigagrams,11.6228,A,NaN,...,NaN,23.7619,A,NaN,27.2114,A,NaN,35.2700,A,NaN
4,2,Afghanistan,5059,Manure Management,7231,Emissions (CO2eq),gigagrams,367.8310,A,NaN,...,NaN,623.3735,A,NaN,750.3240,A,NaN,1003.2279,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10596,5873,OECD,1711,Agriculture total,7244,Emissions (CO2eq) from CH4,gigagrams,592759.5818,A,NaN,...,NaN,575996.2555,A,NaN,617847.6831,A,NaN,615736.9912,A,NaN
10597,5873,OECD,1711,Agriculture total,7243,Emissions (CO2eq) from N2O,gigagrams,331534.6993,A,NaN,...,NaN,594277.2957,A,NaN,608391.2159,A,NaN,624822.1406,A,NaN
10598,5873,OECD,1711,Agriculture total,7230,Emissions (N2O),gigagrams,1069.4668,A,NaN,...,NaN,1917.0235,A,NaN,1962.5523,A,NaN,2015.5553,A,NaN
10599,5873,OECD,1709,Agricultural Soils,7231,Emissions (CO2eq),gigagrams,286178.3295,A,NaN,...,NaN,511843.1916,A,NaN,523814.1026,A,NaN,540557.9742,A,NaN
10600,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,gigagrams,286178.3295,A,NaN,...,NaN,511843.1916,A,NaN,523814.1026,A,NaN,540557.9742,A,NaN

#### Subset to worldwide aggregates

In [4]:
world_df = df[df['Area'] == 'World']

#### Subset to CO2eq aggregates

In [5]:
pd.unique(world_df['Element'])

array(['Emissions (CH4)', 'Emissions (CO2eq)',
       'Emissions (CO2eq) from CH4', 'Emissions (CO2eq) from N2O',
       'Emissions (N2O)'], dtype=object)

In [6]:
labels = ['Emissions (CO2eq)', 'Emissions (CO2eq) from CH4', 'Emissions (CO2eq) from N2O']

In [7]:
world_df = world_df[world_df['Element'].isin(labels)]

#### Subset to the agricultural emissions subdomains

In [8]:
pd.unique(df['Item'])

array(['Enteric Fermentation', 'Manure Management', 'Rice Cultivation',
       'Synthetic Fertilizers', 'Manure applied to Soils',
       'Manure left on Pasture', 'Crop Residues',
       'Burning - Crop residues', 'Burning - Savanna',
       'Agriculture total', 'Agricultural Soils',
       'Cultivation of Organic Soils'], dtype=object)

In [9]:
labels = ['Enteric Fermentation', 'Manure Management', 'Rice Cultivation',
          'Synthetic Fertilizers', 'Manure applied to Soils',
          'Manure left on Pasture', 'Crop Residues',
          'Burning - Crop residues', 'Burning - Savanna',
          'Cultivation of Organic Soils']

In [10]:
world_df = world_df[world_df['Item'].isin(labels)]

#### Subset columns

In [11]:
column_labels = ['Item', 'Element', 'Unit', 'Y2017']

In [12]:
world_df = world_df[column_labels]

In [13]:
world_df.groupby(['Item']).sum()

                                     Y2017
Item
Burning - Crop residues       6.169691e+04
Burning - Savanna             5.647055e+05
Crop Residues                 4.478303e+05
Cultivation of Organic Soils  2.557794e+05
Enteric Fermentation          4.200153e+06
Manure Management             6.994107e+05
Manure applied to Soils       3.822582e+05
Manure left on Pasture        1.733745e+06
Rice Cultivation              1.066491e+06
Synthetic Fertilizers         1.408884e+06